.faq-wrap {
  padding: 57px 0;
  background-color: $violet;
  margin-bottom: 70px;
  @media (max-width: 991px) {
    padding: 20px 0;
    margin-bottom: 30px;
  }
}
.faq-wrap > .container {
  @include flex(row, space-between, flex-start);
  gap: 100px;
  width: 100%;
  @media (max-width: 991px) {
    @include flex(column, center, center);
    gap: 14px;
  }
}

.faq {
  width: 70%;
  @include flex(column, flex-start, flex-start);
  @media (max-width: 991px) {
    width: 100%;
  }
  h2 {
    margin-bottom: -20px;
    margin-left: 40px;
    @media (max-width: 991px) {
      margin-bottom: 0;
      margin-left: 0;
    }
  }
  &__list {
    width: 100%;
    @include flex(column, flex-start, flex-start);
    cursor: pointer;
    &-item {
      width: 100%;
      padding: 40px;
      border-bottom: 1px solid $shadow;
      @media (max-width: 991px) {
        padding: 12px 0;
      }
      h6 {
        @include flex(row, space-between, center);
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        pointer-events: none;
        @media (max-width: 991px) {
          font-size: 10px;
          line-height: 12px;
        }
        span {
          font-weight: 400;
          font-size: 30px;
          cursor: pointer;
          @media (max-width: 991px) {
            font-size: 24px;
          }
        }
      }
      &--body {
        height: 0;
        overflow: hidden;
      }
      p {
        padding-right: 80px;
        padding-top: 13px;
        @media (max-width: 991px) {
          padding-right: 30px;
          padding-top: 12px;
        }
      }
    }
    &-item.active {
      h6 {
        font-weight: 700;
      }
      .faq__list-item--body {
        height: auto;
      }
    }
  }
}

.find-us {
  width: 30%;
  @include flex(column, center, center);
  @media (max-width: 991px) {
    width: 100%;
  }
  h2 {
    margin-bottom: 25px;
    @media (max-width: 991px) {
      margin-bottom: 12px;
    }
  }
  &__content {
    @include flex(column, center, center);
    @media (max-width: 991px) {
      @include flex(row, center, flex-end);
      gap: 30px;
    }
  }
  &__item {
    @include flex(column, center, center);
  }
  img {
    margin-bottom: 27px;
    @media (max-width: 991px) {
      margin-bottom: 12px;
    }
  }
  a.outline {
    margin-bottom: 69px;
    background-color: $bg;
    @media (max-width: 991px) {
      margin-bottom: 0;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    @media (max-width: 480px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__list {
    @include flex(row, center, center);
    gap: 24px;
    @media (max-width: 991px) {
      @include flex(column, center, center);
      gap: 10px;
    }
    a {
      @include flex(row, center, center);
    }
    a:nth-child(3) {
      @media (max-width: 480px) {
        width: 60%;
      }
    }
    img {
      margin-bottom: 0;
    }
  }
}
