.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid $shadow;
  background-color: $bg;
  z-index: 100;
  @media (max-width: 480px) {
    padding: 4px 0 6px 0;
    border: none;
  }
}
.header {
  @include flex(row, space-between, center);
  &__logo {
    width: 116px;
    height: 71px;
    @media (max-width: 991px) {
      width: 63px;
      height: 38px;
    }
  }
  &__nav {
    @include flex(row, flex-end, center);
    gap: 25px;
    @media (max-width: 480px) {
      display: none;
    }
    a {
      @include flex(row, center, center);
      font-weight: 500;
      @include transition;
      &:hover {
        color: $accent;
      }
      @media (max-width: 991px) {
        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  &__phone-mobile {
    display: none;
    @media (max-width: 480px) {
      @include flex(row, center, center);
      gap: 4px;
    }
  }
  &__burger {
    display: none;
    @media (max-width: 480px) {
      @include flex(row, center, center);
    }
  }
}

.header-mobile {
  position: absolute;
  top: -416px;
  left: 0;
  width: 100%;
  height: 416px;
  padding: 12px 12px 40px 12px;
  background: $violet;
  @include transition;
  &__top {
    @include flex(row, space-between, center);
    margin-bottom: 42px;
  }
  &__nav {
    @include flex(column, flex-start, flex-start);
    gap: 25px;
    width: 150px;
    margin: auto;
  }
  &__social {
    @include flex(row, center, center);
    gap: 25px;
    margin-top: 46px;
  }
}

.header__nav {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 25px;
  right: 0;
  background-color: rgba($color: $violet, $alpha: 0.2);
  padding: 5px 15px;
  border: 1px solid $shadow;
  @include flex(column, flex-start, flex-start);
  display: none;
  gap: 13px;
  z-index: 10;
  &:hover {
    display: flex !important;
  }
  @media (max-width: 991px) {
    padding: 5px;
    background-color: $violet;
    top: 210px;
    right: 5px;
  }
}
.drodown-open:hover + .dropdown {
  display: flex !important;
}

.contacts {
  position: fixed;
  right: 25px;
  bottom: 45px;
  z-index: 999;
  width: 56px;
  height: 75px;
  @include transition;
  border-radius: 50px;
  animation: pulse 1s infinite;
  cursor: pointer;
  @media (max-width: 991px) {
    width: 40px;
    height: 40px;
  }
  &:hover {
    width: 250px;
    animation: none;
    border-radius: 100px 50px 50px 25px;
    @media (max-width: 991px) {
      width: 90px;
      animation: none;
      border-radius: 50px;
    }
    & > .btn-call {
      right: 60px;
      pointer-events: all;
      opacity: 1;
      @media (max-width: 991px) {
        right: 50px;
        pointer-events: all;
        opacity: 1;
      }
    }
    & > .btn-form {
      right: 60px;
      top: 0;
      pointer-events: all;
      opacity: 1;
      @media (max-width: 991px) {
        right: 25px;
        top: -40px;
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}
.contacts-bottom-text {
  position: fixed;
  bottom: 10px;
  right: 5px;
  color: $bg;
  padding: 5px;
  border-radius: 15px;
  background-color: $accent;
  z-index: 111;
  @media (max-width: 991px) {
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .contacts:hover {
    width: 90px;
    animation: none;
    border-radius: 50px;
  }
  .contacts:hover > .btn-call {
    right: 50px;
    pointer-events: all;
    opacity: 1;
  }
  .contacts:hover > .btn-form {
    right: 25px;
    top: -40px;
    pointer-events: all;
    opacity: 1;
  }
}

.btn-main {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  color: $bg;
  width: 56px;
  height: 56px;
  @include flex(row, center, center);
  z-index: 111;
  background: $accent;
  box-shadow: 0px 2px 4px 0px $shadow;
  text-align: center;
  @include transition;
  border-radius: 50%;
  cursor: pointer;
  @media (max-width: 991px) {
    width: 40px;
    height: 40px;
  }
  svg {
    width: 75%;
  }
}

.btn-call {
  position: absolute;
  right: 0;
  bottom: 0;
  color: $text;
  padding: 5px 15px;
  @include flex(row, center, center);
  gap: 10px;
  z-index: 100;
  background: $bg;
  border: 1px solid $accent;
  box-shadow: 0px 2px 4px 0px $shadow;
  @include transition;
  border-radius: 30px;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  &:hover {
    color: $accent;
  }
  @media (max-width: 991px) {
    padding: 5px;
    width: 38px;
    height: 38px;
    gap: 0;
    border-radius: 100%;
    span {
      display: none;
    }
  }
}

.btn-form {
  position: absolute;
  right: 0;
  top: 0;
  color: $text;
  padding: 5px 15px;
  @include flex(row, center, center);
  gap: 10px;
  z-index: 100;
  background: $bg;
  border: 1px solid $accent;
  box-shadow: 0px 2px 4px 0px $shadow;
  @include transition;
  border-radius: 30px;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  &:hover {
    color: $accent;
  }
  img {
    width: 20px;
  }
  @media (max-width: 991px) {
    padding: 5px;
    width: 38px;
    height: 38px;
    gap: 0;
    border-radius: 100%;
    span {
      display: none;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
